.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1.5em;
    background-color: #FFD7D7;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}