:root {
    --primary: #FD2D01;
    --secondary: #FFD7D7;
    --terciary: #4E5166;
    --gray: #6c757d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100vh;
    font-family: 'Lato';
}

#root{
    display: flex;
    flex-direction: row;
    max-height: 100%;
    overflow: hidden;
}

.p{
    font-family: 'Lato';
}

.text-danger{
    color: var(--primary);
}

.text-terciary{
    color: var(--terciary);
}

.text-gray{
    color: var(--gray)
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main_container{
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 2em;
}

.w-500 {
    width: 500px!important;
}

.form-login {
    display: flex;
    height: 100%;
    align-self: center;
    align-items: center;
}

.flex-centered {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.login{
    min-width: 500px;
}

.card{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding: 1em;
}

.card__header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card__preview{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card__preview > img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__preview::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0.0984768907563025) 0%, rgba(252,252,252,0) 37%, rgba(227,227,227,0) 100%);
}

.card__deleteAttachment{
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 22px;
    color: var(--terciary);
}

.card__header > *,.postCard__header>* {
    font-size: 22px;
    color: var(--gray);
}

.card__action{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 1em;
}

.card-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.card-logo > img {
    width: 300px;
}

.card-error {
    padding: 1em;
    border-radius: 5px;
    margin: 1em 0 1em 0;
    background-color: var(--secondary);
}

.form-group {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.form_inputPost{
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
    font-family: 'Lato';
    font-size: 18px;
    height: 2.5em;
    margin: 0.5em 0;
    padding: 1em 0.5em;
}

.form_inputPost:focus{
    outline: none;
    border-bottom-color: var(--primary);
    transition: .5s
}

.form-input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
    font-family: 'Lato';
    font-size: 18px;
    border-radius: 5px;
    height: 2.5em;
    margin: 0.5em 0;
    padding: 1em 0.5em;
    transition: .3s;
}

.form-input:hover {
    box-shadow: 0 0 5pt 0.5pt #D3D3D3
}

.form-label {
    font-size: 18px;
    margin-bottom: 6px;
}

.form_inputfile{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    margin-right: 10px;
}

.form_inputfile + label {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--terciary);
}

.btn-group-inline {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
    font-family: 'Lato';
    font-size: 18px;
    padding: .5em 1em;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn:focus,
.form-input:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgb(253 45 1 / 25%);
}

.btn-primary {
    color: white;
    background-color: var(--primary);
}

.btn-primary:hover {
    filter: brightness(92%);
}

.btn-outline-primary {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    transition: .3s;
}

.btn-outline-primary:hover {
    color: white;
    background-color: var(--primary);
    filter: brightness(92%);
}

.btn-terciary{
    color: white;
    background-color: var(--terciary);
}

.post__container{
    padding: 0 1em 1em 1em;
    height: 100%;
    overflow-y: auto;
}

.post_action{
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.form {
    margin-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

.m-0{
    margin: 0;
}

.mr-1{
    margin-right: .25em;
}
.mr-3{
    margin-right: .75em;
}

.mr-4 {
    margin-right: 1em;
}

.mb-5{
    margin-bottom: 1.25em;
}

.pr-5{
    padding-right: 1em;
}
.pb-5{
    padding-bottom: 1em;
}
.pl-5{
    padding-left: 1em;
}

.p-2{
    padding: .5em;
}

.mt-5{
    margin-top: 1em;
}

.mb-5{
    margin-bottom: 1em;
}

.flex-1{
    flex:1
}

.d-flex{
    display: flex;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 2s linear infinite;
    z-index: 2;
    width: 25px;
    height: 25px;
}

.spinner .path {
    stroke: white;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: rgba(100 100 111 / 20%) 0px 7px 29px 0px;
    animation: fadeIn .2s ease-in-out
}

.modal-container{
    border-radius: 5px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffff;
    max-width: 500px;
}

.modal-title{
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 16px;
    margin-bottom: 22px;
    background-color: var(--primary);
    color: white;
}

.modal-content{
    padding: 1em 2em .5em 2em;
}

.modal-action {
    display: flex;
    justify-content: flex-end;
    padding: .5em 2em 1em 2em;
}

.justify-right{
    justify-content: right;
}

.justify-end{
    justify-content: end;
}

.title{
    font-size: 2em;
    margin-bottom: 15px;
}


.postCard{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.postCard__mainContent{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.postCard__header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.postCard__mainInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.postCard__text{
    width: 100%;
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
}

.postCard__text > p {
    flex: 1;
}

.postCard__image{
    border-radius: 2.5px;
    margin-left: 1em;
}

.postCard__image>img{
    border-radius: 5px;
}

.icon__toggleMenu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    transition: 2s ease-in-out;
}
.icon__toggleMenu:hover:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
}

.postCard__submenu{
    position: absolute;
    border-radius: 5px;
    right: 35px;
    top: 0px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.postCard__submenu__li{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.postCard__submenu__li:hover{
    background-color: rgba(0, 0,0,.1)
}

.postCard__submenu__btn{
    cursor: pointer;
    background-color: transparent;
    font-family: 'Lato';
    font-size: 18px;
    padding: 1em 2em;
    border: none;

}

.postCard__submenu > ul {
    list-style: none;
}

.postCard__like{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    border-top: 1px solid var(--secondary);
}

.postCard__like > span{
    display: flex;
    align-items: center;
}

.icon__like{
    font-size: 24px;
}

.icon__like__isNotLiked{
    color: var(--gray);
    transition: .5s
}

.icon__like__isNotLiked:hover{
    cursor: pointer;
    color: var(--primary);
}

.icon__like__isLiked{
    color: var(--primary);
    transition: .5s
}

.icon__like__isLiked:hover{
    cursor: pointer;
    color: var(--gray);
}

.hide {
    display: none;
}

.split_image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: var(--primary);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
  }

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}


@media screen and (max-width: 768px){
    #root{
        flex-direction: column;
    }
    .main_container{
        overflow-y: scroll;
    }
    .login{
        min-width: auto;
    }
    .main_container{
        padding: 0;
    }
    .card {
        padding: .5em 1em;
    }
    .card__preview{
        width: 100%;
    }
    .card-logo > img {
        width: 200px;
    }
    .postCard__header > *{
        font-size: 16px;
    }
    .icon__toggleMenu {
        margin-left: 0;
    }
    .postCard__mainInfo{
        align-items: center;
    }
    .postCard__image {
        margin-left: 0;
    }
    .postCard__image > img {
        width: 100%;
    }
    .postCard__text{
        word-break: break-word;
        flex-direction: column-reverse;
    }
    .postCard__like > p{
        font-size: 16px;
    }
    .icon__like{
        font-size: 18px;
    }
    .btn{
        font-size: 16px;
    }
    .modal-container{
        max-height: 100%;
    }
    .modal-content{
        padding: 1em;
        overflow-y: scroll;
    }
    .modal-title > h1{
        font-size: 26px;
    }
    .form-label{
        font-size: 16px;
    }
    .justify-right{
        justify-content: space-between;
    }
    .split_image{
        flex-direction: column;
        align-items: center;
    }
    .form{
        margin-top: 1em;
    }
}


@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato.ttf');
}